@model SistemaDeVentasV1.Models.Facturas
@{
    ViewBag.Title = "Detalles de Factura";
    ViewBag.TituloControlador = "Facturas";
    ViewBag.InfoPagina = "Informacion de Facturas";
    ViewBag.TituloVentana = "Datos de la venta y detalles de los productos";
    ViewBag.FooterVentana = "No se pueden eliminar las facturas ni tampoco modificar, por integridad del sistema";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <div class="panel-primary">
            <div class="panel-heading"><strong>Factura</strong></div>
            <div class="panel-body">
               <table class="table table-striped table-bordered">
                   <thead>
                       <tr>
                           <td></td>
                           <td>Informacion</td>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>
                             <strong>Nit:</strong>
                           </td>

                           <td>
                               @Html.DisplayFor(model => model.nitCliente)
                           </td>

                       </tr>
                       <tr>
                           <td>
                               <strong>Nombre:</strong>
                           </td>

                           <td>
                               @Html.DisplayFor(model => model.nombre)
                           </td>
                       </tr>
                   <tr>
                       <td>
                           <strong>Direccion:</strong>
                       </td>

                       <td>
                           @Html.DisplayFor(model => model.direccion)
                       </td>
                   </tr>
                       <tr>
                           <td>
                               <strong>Fecha:</strong>
                           </td>

                           <td>
                               @Html.DisplayFor(model => model.fecha)
                           </td>


                       </tr>
                       <tr>

                           <td>
                               <strong>Total :</strong>
                           </td>

                           <td>
                              Q. @Html.DisplayFor(model => model.total)
                           </td>


                       </tr>
                       <tr>

                           <td>
                               <strong>Usuario:</strong>
                           </td>

                           <td>
                               @Html.DisplayFor(model => model.usuario)
                           </td>



                       </tr>

                   </tbody>
               </table>
                    
                   

            </div>
        </div>
 
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="panel-primary">
                <div class="panel-heading"><center> <strong>DETALLES DE LA FACTURA</strong></center></div>
            </div>
            @Html.Partial("_DetallesFactura")
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="col-md-4">
                    <label>Total Cobrado</label>
                </div>
                <div class="col-md-4 bg-red-active">
                    Q. @Html.DisplayFor(model => model.total)
                </div>
                
            </div>
           
        </div>

    </div>
</div>
<div class="row">
    <p>
        <input type="button" disabled class="btn btn-info" value="Actualizar Registro" onclick="location.href='@Url.Action("Edit", "Facturas", new {id = Model.idFactura })'" /> |
        <input type="button" disabled class="btn btn-danger" value="Eliminar Registro" onclick="location.href='@Url.Action("Delete", "Facturas", new {id = Model.idFactura })'" /> |
        <a href="@Url.Action("Index","Facturas")" class="btn btn-success">Regresar a la lista</a>
    </p>
</div>
