@model SistemaDeVentasV1.Models.DetallesCompra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetallesCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compras.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compras.idProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
