@model SistemaDeVentasV1.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    
    ViewBag.TituloControlador = "USUARIOS";
    ViewBag.InfoPagina = "Registro de nuesvos usuarios al sistema";
    ViewBag.TituloVentana = "Registros";
    ViewBag.FooterVentana = "El usuario se creara con el rol de REPORTES, puede modificar los roles del usuario despues de su registro";


}
   @if (Convert.ToInt32(ViewBag.NoUsers) == 0)
    {
        Layout = "~/Views/Shared/PlantillaRegistro.cshtml";
    }
     
@{
    if (Convert.ToInt32(ViewBag.NoUsers) > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                    @Html.AntiForgeryToken()                 
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.nombre, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.direccion, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.direccion, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" class="btn btn-danger form-control" value="Registrarse" />
                        </div>
                    </div>
                    }
                </div>
                <div class="col-md-6">
                    <p><strong>AVISO:</strong><br />el usuario se creara con el rol de REPORTES, es decir que cuando 
                    este ingrese al sistema, solo tendra acceso a los reportes, si desea subir
                    de privilegio al usuario con otros roles diferentes, puede ir a la lista principal
                    de usuarios, click en detalles y en modificar registro, podra agregar o eliminar roles
                    de usuario, que le premitiran acceder a los modulos del programa</p>
                </div>
            </div>
        </div>

    }
    else
    {

        using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <center><h3>Registro de Usuario</h3></center>
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.nombre, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.direccion, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.direccion, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" class="btn btn-danger form-control" value="Registrarse" />
                </div>
            </div>
        }
    }

}
   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
