@model SistemaDeVentasV1.Models.Proveedores

@{
    ViewBag.Title = "Info Proveedor";
    ViewBag.TituloControlador = "PROVEEDORES";
    ViewBag.InfoPagina = "Informacion registrada del proveedor";
    ViewBag.TituloVentana = "Datos del Proveedor";
    ViewBag.FooterVentana = "Puede editar y actualizar este registro, click en el boton editar";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProveedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modificado)
        </dd>

    </dl>
</div>
<p>
    <input type="button" class="btn btn-info" value="Actualizar Registro" onclick="location.href='@Url.Action("Edit", "Proveedores", new {id = Model.idProveedor })'" /> |
    <input type="button" class="btn btn-danger" value="Eliminar Registro" onclick="location.href='@Url.Action("Delete", "Proveedores", new {id = Model.idProveedor })'" /> |
    <a href="@Url.Action("Index","Proveedores")" class="btn btn-success">Regresar a la lista</a>
</p>
